<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

  <title>Changetext.com</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Changetext.com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Welcome to TextUtils!</strong> You can do what ever you want with text, here.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container">
    <form action='Analyze' method='post'>  {% csrf_token %}
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Enter your text here.</label>
        <textarea name='text' class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="removepunc" id="flexSwitchCheckChecked1" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked1">Remove Punctuations</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="fullcaps" type="checkbox" id="flexSwitchCheckChecked2" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked2">UPPERCASE</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="newlineremover" type="checkbox" id="flexSwitchCheckChecked3" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked3">New Line Remover</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="extraspaceremover" type="checkbox" id="flexSwitchCheckChecked4" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked4">Extra Spaces Remover</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="charcount" type="checkbox" id="flexSwitchCheckChecked5" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked5">Character Counter</label>
      </div>
      <button type="Submit" class="btn btn-dark my-2">Analyze Text</button>
    </form>
  </div>


</body>

</html>